.form-group {
  display: inline-block;
  .el-form-item {
    &:first-child {
      margin-right: 0px !important;
      .el-input__inner {
        box-shadow: none;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
    }
    &:last-child .el-input__inner {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}

.button-group-no-bg {
  .el-radio-button.is-active {
    --el-radio-button-checked-text-color: #3058fc;
    --el-radio-button-checked-bg-color: #ffffff;
    --el-radio-button-checked-border-color: #3058fc;
  }
}

.el-button {
  min-width: 80px;
  &.el-button--text,
  &.is-circle,
  &.default-button {
    min-width: auto;
  }
}

.el-drawer {

  &__title {
    font-size: 16px;
    font-weight: 500;
    color: #293157;
    line-height: 24px;
  }
  &__header {
    margin-bottom: 0;
    padding: 24px 40px;
    border-bottom: 1px solid #E3E6EC;
  }
}
