@font-face {
  font-family: DINPro-Bold;
  src: url('//dq-front-deliver.oss-cn-shanghai.aliyuncs.com/fm/font-dist/v1/common/DINPro-Bold/f4cb1e248fb409e2eea591a1414d6ab5.ttf');
}
@font-face {
  font-family: DINPro-Regular;
  src: url("//dq-front-deliver.oss-cn-shanghai.aliyuncs.com/fm/font-dist/v1/common/DINPro-Regular/f4cb1e248fb409e2eea591a1414d6ab5.ttf");
}
@font-face {
  font-family: DINPro-Black;
  src: url("//dq-front-deliver.oss-cn-shanghai.aliyuncs.com/fm/font-dist/v1/common/DINPro-Black/f4cb1e248fb409e2eea591a1414d6ab5.ttf");
}

@font-face {
  font-family: alibaba-medium;
  
  src: url('//dq-front-deliver.oss-cn-shanghai.aliyuncs.com/fm/font-dist/v1/common/Alibaba-PuHuiTi-Medium/a31feecac71b1709bd949f690b1f13d3.ttf');
}

@font-face {
  font-family: xinyiguan-heiti;
  
  src: url('//web-st.oss-cn-shanghai.aliyuncs.com/assets/font/xinyiguanheiti.ttf');
}
@font-face {
  font-family: jiang-xi-zhuo-kai-common;
  
  src: url('//dq-front-deliver.oss-cn-shanghai.aliyuncs.com/fm/font-dist/v1/common/jiang-xi-zhuo-kai/6a10ecfc71bb8700075bcdd4c9adb125.ttf');
}