@import './basic.scss';


@font-face {
  font-family: SourceHanSerifCN-Bold;
  // src: url('//web-st.oss-cn-shanghai.aliyuncs.com/assets/font/SourceHanSerifCN-Bold.otf');
  src: url('//web-st.oss-cn-shanghai.aliyuncs.com/assets/font/SourceHanSerifCN-Bold.otf');
}
@font-face {
  font-family: siyuansong-heavy;
  
  src: url('//web-st.oss-cn-shanghai.aliyuncs.com/assets/font/SourceHanSerifCN-Heavy.otf');
}
@font-face {
  font-family: siyuansong-medium;
  
  src: url('//web-st.oss-cn-shanghai.aliyuncs.com/assets/font/SourceHanSerifCN-Medium.otf');
}
@font-face {
  font-family: siyuansong;
  
  src: url('//web-st.oss-cn-shanghai.aliyuncs.com/assets/font/SourceHanSerifCN-Regular.otf');
}
@font-face {
  font-family: alibaba-heavy;
  
  src: url('//web-st.oss-cn-shanghai.aliyuncs.com/assets/font/Alibaba-PuHuiTi-Heavy.ttf');
}

@font-face {
  font-family: siyuanhei-heavy;
  
  src: url('//web-st.oss-cn-shanghai.aliyuncs.com/assets/font/SourceHanSansCN-Heavy.otf');
}
@font-face {
  font-family: siyuanhei-regular;
  
  src: url('//web-st.oss-cn-shanghai.aliyuncs.com/assets/font/SourceHanSansCN-Regular.otf');
}
@font-face {
  font-family: jiang-xi-zhuo-kai;
  
  src: url('//dq-front-deliver.oss-cn-shanghai.aliyuncs.com/front-end-static-assets/font/jiang-xi-zhuo-kai.ttf');
}

// 公共字体


@font-face {
  font-family: SourceHanSerifCN-Bold;
  
  src: url('//web-st.oss-cn-shanghai.aliyuncs.com/assets/font/SourceHanSerifCN-Bold.otf');
}
@font-face {
  font-family: SourceHanSerifCN-Heavy;
  
  src: url('//web-st.oss-cn-shanghai.aliyuncs.com/assets/font/SourceHanSerifCN-Heavy.otf');
}
@font-face {
  font-family: SourceHanSerifCN-Medium;
  
  src: url('//web-st.oss-cn-shanghai.aliyuncs.com/assets/font/SourceHanSerifCN-Medium.otf');
}
@font-face {
  font-family: SourceHanSerifCN-Regular;
  
  src: url('//web-st.oss-cn-shanghai.aliyuncs.com/assets/font/SourceHanSerifCN-Regular.otf');
}
@font-face {
  font-family: Alibaba-PuHuiTi-Heavy;
  
  src: url('//web-st.oss-cn-shanghai.aliyuncs.com/assets/font/Alibaba-PuHuiTi-Heavy.ttf');
}
@font-face {
  font-family: Alibaba-PuHuiTi-Medium;
  
  src: url('//web-st.oss-cn-shanghai.aliyuncs.com/assets/font/Alibaba-PuHuiTi-Medium.ttf');
}
@font-face {
  font-family: SourceHanSansCN-Heavy;
  
  src: url('//web-st.oss-cn-shanghai.aliyuncs.com/assets/font/SourceHanSansCN-Heavy.otf');
}
@font-face {
  font-family: SourceHanSansCN-Regular;
  
  src: url('//web-st.oss-cn-shanghai.aliyuncs.com/assets/font/SourceHanSansCN-Regular.otf');
}
@font-face {
  font-family: Barlow-Italic;
  
  src: url('//web-st.oss-cn-shanghai.aliyuncs.com/assets/font/Barlow-Italic.ttf');
}